@tailwind base; 
@tailwind components;
@tailwind utilities;
/* @tailwind variants; */

@layer components {
.btn {
  @apply text-xs font-semibold px-3 py-1 mt-3 border-2 rounded-full hover:text-white focus:ring-2 focus:ring-offset-2 focus:outline-0;
  @apply rounded-lg ;
}

.btn-purple {
  @apply text-purple-600 dark:text-purple-500 border-purple-600 dark:border-purple-500 hover:bg-purple-600 focus:ring-purple-600;
}

.btn-green {
  @apply btn text-green-600 dark:text-green-500 border-green-600 dark:border-green-500 hover:bg-green-600 focus:ring-green-600;
}
}

@layer base {
  h1 {
    font-size: 20px;
    font-weight: bolder;
  }
  h3 {
    font-size: 15px;
    font-weight: bold;
  }
}

@layer utilities {
  .text-fancy {
    color: cyan;
    font-family: cursive;
  }
  .my-gradiant {
    background-image: linear-gradient(to left bottom, hsl(271, 91%, 65.1%), hsl(245, 57.9%, 50.6%), hsl(199, 88.7%, 48.4%));
  }
}

/* @variants and @responsive are deprecataded from v3 */
/*
@variants focus, hover, dark {
  .variants-chain {
    color: cyan;
    letter-spacing: 10px;
  }
}
@responsive {
  .responsive-chain {
    color: theme(colors.fuchsia.800);
  }
}
*/

@screen md {
  .screen-bg {
    background-color: theme(colors.blue.500);
  }
}

@media screen(md) {
  .media-screen-bg {
    background-color: theme(colors.leafGreen.300);
    color: theme(colors.soil) !important;
    padding: theme(spacing[2.5]);
    border-radius: 30px;
  }
}

input::placeholder {
  background-color: lightcyan;
}

/* 
   Notes:
1.base -> h1, h2 (html tags)
2.components -> .btn, .btn-green (customized class)
3.utilities -> text-xs, p-3 (tailwind class) 
4.preference: utilities > components > base
5."@variants" & "@responsive" directives are not neccessary. it'll automatically work into "@layer" directive in tailwind v3.
6. darkMode: "media" is always active in tailwind v3
7. "@screen sm" & "screen(sm)" are same. screen(sm) is better.
8. "@responsive" make css for all breakpoint. "@screen" make css for only specific breakpoint 
9. adding "@tailwind variants" on top will prevent "@layer" directive from making "@responsive & @variants" automatically.
10. don't include "md:" , "sm:" before class of "@screen" & "@media screen()"
*/